@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #FB5512;
    --secondary-color: #3B383B;
    --tertiary-color: #F1EFE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-height: 100vh;
    padding: 50px 40px;
    font-family: "Outfit", sans-serif;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}


.btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    right: 20px;
    bottom: 20px;
}

#add-btn, .bxl-github {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    padding: 15px 16px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#add-btn {
    width: 75px;
    height: 73px;
    font-size: 2rem;
    background-color: var(--primary-color);
}
#add-btn:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.bxl-github {
    font-size: 1.5rem;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
.bxl-github:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
}

#books-container {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 2px solid var(--primary-color);
    padding: 20px;
    height: 200px;
    width: 150px;
    justify-self: center;
}