@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #FB5512;
    --secondary-color: #3B383B;
    --tertiary-color: #F1EFE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-height: 100vh;
    padding: 50px 40px;
    font-family: "Outfit", sans-serif;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

button, .bxl-github {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    padding: 15px 16px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

dialog {
    position: fixed;
    inset: 0;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--tertiary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.text-input {
    height: 24px;
    width: 280px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 0.8em;
    font-family: "Outfit", sans-serif;
    outline: 2px solid black;
    background-color: var(--tertiary-color);
}
.text-input:focus {
    outline: 2px solid var(--primary-color);
}
.input:has(.text-input:focus) label {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}


.btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    right: 20px;
    bottom: 20px;
}

#add-btn {
    width: 75px;
    height: 73px;
    font-size: 2em;
    background-color: var(--primary-color);
}
#add-btn:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.bxl-github {
    font-size: 1.5em;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
.bxl-github:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    cursor: pointer;
}



#form-dialog {
    /* display: block; */
    width: 400px;
    height: 420px;
}

#book-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    height: 100%;
    font-size: 1.2em;
    font-weight: 500;
}

#book-form > .input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#book-form .status > .checkbox-label {
    display: grid;
    grid-template-columns: auto 1em;
    gap: 10px;
    justify-content: center;
}

#book-form > #submit-button, #book-form > #close-button {
    position: absolute;
}

#book-form #submit-button {
    right: 12px;
    bottom: 18px;
    width: 60px;
    height: 60px;
    font-size: 1.7em;
    background-color: var(--primary-color);
}

#book-form #close-button {
    right: 12px;
    top: 16px;
    width: 30px;
    height: 31px;
    font-size: 1.2em;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

#name-dialog {
    width: 350px;
    height: 200px;
}

#name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    position: relative;
    padding: 40px;
    font-size: 1.2em;
    font-weight: 500;
}

#name-form > label {
    align-self: flex-start;
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 400;
}
#name-form label > span {
    color: var(--primary-color);
    font-weight: 600;
}

#name-form > input {
    font-family: "Playfair Display", serif;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    height: 28px;
}

#books-container {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    /* border: 2px solid blue; */
    width: 150px;
    height: auto;
    justify-self: center;
}

.card .cover {
    position: relative;
    height: 200px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.card .cover > .book-status {
    font-weight: 500;
    position: absolute;
    left: 6px;
    bottom: 5px;
}

.card .cover > .book-pages {
    font-weight: 500;
    position: absolute;
    right: 6px;
    bottom: 5px;
}

.card > .card-content {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
    margin-top: 10px;
    gap: 3px;
}

.card .card-content > * {
    font-family: "Playfair Display", serif;
}

.card .card-content > .book-title {
    font-size: 1.5em;
}

.card .card-content > .book-author {
    font-size: 1.1em;
    font-weight: 500;
}

.section {
    color: rgb(255, 255, 255);
}